<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Routes de la Api</h1>
    <table>
        <thead>
            <tr>
                <th>Get all</th>
                <th>Get info</th>
                <th>Post</th>
                <th>Delete</th>
                <th>Put</th>
            </tr>
            <tbody>
                <tr>
                    <th>
                        <ul>
                            <li><a href="proveedores">/proveedores</a></li>
                            <li><a href="tiposcultivo">/tiposcultivo</a></li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/trabajadores/:id</li>
                            <li>/trabajador/:id</li>
                            <li>/proveedores/:id</li>
                            <li>/proveedorr/:id</li>
                            <li>/fincas/:id</li>
                            <li>/finca/:id</li>
                            <li>/lotes/:id</li>
                            <li>/lote/:id</li>
                            <li>/tipocultivo/:id</li>
                            <li>/cultivos/:id</li>
                            <li>/cultivo/:id</li>
                            <li>/operaciones/:id</li>
                            <li>/operacion/:id</li>
                            <li>/encargados/:id</li>
                            <li>/insumoso/:id</li>
                            <li>/insumosp/:id</li>
                            <li>/factura/:id</li>
                            <li>/proveedor/:id</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/administrador</li>
                            <li>/finca</li>
                            <li>/lote</li>
                            <li>/tipocultivo</li>
                            <li>/cultivo</li>
                            <li>/operacion</li>
                            <li>/trabajador</li>
                            <li>/traxope</li>
                            <li>/producto</li>
                            <li>/fungicida</li>
                            <li>/fertilizante</li>
                            <li>/insumo</li>
                            <li>/insxope</li>
                            <li>/proveedor</li>
                            <li>/factura</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/finca/:id</li>
                            <li>/lote/:id</li>
                            <li>/tipocultivo/:id</li>
                            <li>/cultivo/:id</li>
                            <li>/operacion/:id</li>
                            <li>/trabajador/:id</li>
                            <li>/traxope/:id</li>
                            <li>/producto/:id</li>
                            <li>/fungicida/:id</li>
                            <li>/fertilizante/:id</li>
                            <li>/insumo/:id</li>
                            <li>/insxope/:id</li>
                            <li>/proveedor/:id</li>
                            <li>/factura/:id</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>/finca/:id</li>
                        </ul>
                    </th>
                </tr>
            </tbody>
        </thead>
    </table>
    
    
</body>
</html>